<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Search this" %>
   	<%= f.text_field :name_cont, "Search this" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
  <% end %>